# Transformación y Carga

### Importación de librerias

In [ ]:
import sys
import os
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Establecimiento de la Conexión con MySQL

In [22]:
sys.path.append(os.path.abspath('../source'))

from connection_mysql import get_sqlalchemy_engine

conexion = get_sqlalchemy_engine()

Conexión a la base de datos exitosa.

### Consulta de Datos desde MySQL

In [23]:
df = pd.read_sql_query("SELECT * FROM raw_candidates", conexion)
df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

### Normalización de Nombres de Columnas

In [24]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
print(df.columns)

Index(['first_name', 'last_name', 'email', 'application_date', 'country',
       'yoe', 'seniority', 'technology', 'code_challenge_score',
       'technical_interview_score'],
      dtype='object')

### Identificación de Tecnologías

In [25]:
unique_technologies = df["technology"].unique()

print("Tecnologías únicas encontradas:")
print(unique_technologies)

Tecnologías únicas encontradas:
['Data Engineer' 'Client Success' 'QA Manual'
 'Social Media Community Management' 'Adobe Experience Manager' 'Sales'
 'Mulesoft' 'DevOps' 'Development - CMS Backend' 'Salesforce'
 'System Administration' 'Security' 'Game Development'
 'Development - CMS Frontend' 'Security Compliance'
 'Development - Backend' 'Design'
 'Business Analytics / Project Management' 'Development - Frontend'
 'Development - FullStack' 'Business Intelligence'
 'Database Administration' 'QA Automation' 'Technical Writing']

### Categorización de Tecnologías

In [26]:
tech_categories = {
    "Development - Backend": "Software Development",
    "Development - Frontend": "Software Development",
    "Development - FullStack": "Software Development",
    "Development - CMS Backend": "Software Development",
    "Development - CMS Frontend": "Software Development",
    "Game Development": "Software Development",
    
    "DevOps": "Infrastructure & System Administration",
    "System Administration": "Infrastructure & System Administration",
    "Security": "Infrastructure & System Administration",
    "Security Compliance": "Infrastructure & System Administration",

    "Data Engineer": "Data Science & Analytics",
    "Business Intelligence": "Data Science & Analytics",
    "Business Analytics / Project Management": "Data Science & Analytics",

    "Database Administration": "Databases",

    "QA Manual": "Quality Assurance & Testing",
    "QA Automation": "Quality Assurance & Testing",

    "Design": "Design & User Experience",
    "Adobe Experience Manager": "Design & User Experience",

    "Client Success": "Customer & Business Management",
    "Sales": "Customer & Business Management",
    "Salesforce": "Customer & Business Management",
    "Social Media Community Management": "Customer & Business Management",

    "Mulesoft": "Middleware & Integrations",

    "Technical Writing": "Technical Documentation & Communication"
}

In [27]:
df["category_technology"] = df["technology"].map(tech_categories)

df.head()

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score,category_technology
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,Data Science & Analytics
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,Data Science & Analytics
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,Customer & Business Management
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,Quality Assurance & Testing
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,Customer & Business Management

### Conversión de Fechas

In [28]:

df['application_date'] = pd.to_datetime(df['application_date'])

df['application_year'] = df['application_date'].dt.year

df.head()

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score,category_technology,application_year
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,Data Science & Analytics,2021
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,Data Science & Analytics,2021
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,Customer & Business Management,2020
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,Quality Assurance & Testing,2020
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,Customer & Business Management,2020

### Creación de Indicador de Contratación

In [29]:
df['hired'] = (df['code_challenge_score'] >= 7) & (df['technical_interview_score'] >= 7)
df.head()

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score,category_technology,application_year,hired
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,Data Science & Analytics,2021,False
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,Data Science & Analytics,2021,False
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,Customer & Business Management,2020,True
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,Quality Assurance & Testing,2020,False
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,Customer & Business Management,2020,True

## Carga de Datos en la Base de Datos

In [30]:
df.to_sql('clean_candidates', conexion, if_exists='replace', index=False)

50000